$color-almond: #EDD6C2;
$color-aths-special: #E8E5C3;
$color-surf-crest: #D1E4D4;
$color-spindle: #C5DDF0;
$color-perfume: #ECCDFB;
$color-red: red;

$font-family-text: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;

html, body {
  font-family: $font-family-text;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: 100%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

%static-link {
  a, a:link, a:visited, a:hover {
    color: #000;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  @extend %static-link;
  margin-top: 0;
}

a, a:link, a:visited { color: grey; }
a:hover { color: #000; }

.hidden { display: none !important; }

.red {
  color: $color-red;

  &:hover { color: darken($color-red, 10%); }
}

@mixin darken-background($background-color) {
  background-color: darken($background-color, 10%);
}

@mixin darken-background-on-hover($background-color) {
  &:hover { @include darken-background($background-color); }
}

@mixin lighten-background($background-color) {
  background-color: lighten($background-color, 20%);
}

@mixin lighten-background-on-hover($background-color) {
  &:hover { @include lighten-background($background-color); }
}

td.ellipsis-clip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width:1px;
}