#events-index, #venues-index {
  @include tablesorter-theme;

  thead th { font-weight: 700; }

  tbody td {
    hyphens: auto;

    a {
      color: grey;
      text-decoration: underline;
      display: inline;

      &:hover { color: #000000; }
    }
  }
}

#events-index {
  // Description column
  th:nth-child(6) {
    width: 50%;
  }
}