#events-index {
  @include tablesorter-theme;

  thead th { font-weight: 700; }

  tbody td {
    a {
      @extend a;
      text-decoration: underline;
    }
  }
}

#events-index {
  // Description column
  th:nth-child(6) {
    width: 50%;
  }

  a {
    @extend a;
    &.red { @extend .red; }
  }
}