$color-directory-main-box-background: $color-perfume;
$color-directory-other-box-background: #000000;
$color-map-main-box-background: $color-perfume;
$color-map-other-box-background: #000000;
$color-search-box-background: $color-surf-crest;
$color-latest-box-background: $color-aths-special;
$color-country-box-background: $color-almond;
$color-details-box-background: $color-spindle;

$col-menu-width-full: 160px;
$col-latest-width-full: 280px;
$col-latest-width-collapsed: $col-menu-width-full / 2;
$col-country-width-full: 450px;
$col-details-width-full: 500px;

$box-margin: 10px;

%col-format {
  margin-right: $box-margin;
  display: inline-block;
  vertical-align: top;

  a { display: block; }
}

@mixin col($width) {
  @extend %col-format;
  @extend %static-link;

  width: $width;
}

%cell-heading {
  // padding: 8px 5px;
  padding: 8px 5px 23px 5px;
  text-transform: uppercase;
}

%cell-entry { padding: 2px 5px; }
%cell-entry-indented { padding: 2px 15px; }

table {
  @extend %static-link;

  // hide columns used to sort tables
  // (4) Updated At
  th:nth-child(4), td:nth-child(4) {
    display: none;
  }

  &.secondary-table {
    border-width: 0 0 0 0;

    thead { display: none; }
  }
}

.col-menu {
  @include col($col-menu-width-full);

  .directory-main {
    margin-bottom: $box-margin;
    text-transform: uppercase;
    background-color: $color-directory-main-box-background;

    .directory-title {
      @extend %cell-heading;
      @include darken-background-on-hover($color-directory-main-box-background);
    }

    .directory-entries {
      display: none;

      .directory-subtitle {
        @extend %cell-entry;
        border-top: 1px solid #ffffff;
      }

      .directory-entry {
        @extend %cell-entry-indented;
        @include darken-background-on-hover($color-directory-main-box-background);

        border-top: 1px solid #ffffff;
        cursor: pointer;

        &.selected { @include darken-background($color-directory-main-box-background); }
      }
    }
  }

  .search {
    @extend %cell-heading;
    background-color: $color-search-box-background;
    margin-bottom: $box-margin;
  }

  .map-other {
    @extend %cell-heading;
    background-color: $color-map-other-box-background;
    color: #ffffff;
  }
}

.col-latest {
  @extend %col-format;
  @extend %static-link;

  .latest {
    display: none;
    background-color: $color-latest-box-background;

    .latest-title {
      @extend %cell-heading;
      width: $col-latest-width-collapsed;
    }

    .latest-entries {
      width: $col-latest-width-full;

      .latest-entry {
        @extend %cell-entry;
        @include darken-background-on-hover($color-latest-box-background);

        border-top: 1px solid #ffffff;
        cursor: pointer;

        &.selected { @include darken-background($color-latest-box-background); }

        .latest-entry-name, .latest-entry-city { display: inline-block; }
        .latest-entry-name { width: 60%; }
        .latest-entry-city { width: 40%; }
      }
    }
  }
}

.col-cities {
  @include col($col-country-width-full);

  .cities {
    display: none;
    background-color: $color-country-box-background;

    .tablesorter {
      @include tablesorter-theme($color-country-box-background);

      tr.country-city { text-transform: uppercase; }

      thead { display: none; }
    }

    .cities-title { @extend %cell-heading; }

    .city-entry {
      @include darken-background-on-hover($color-country-box-background);

      &.selected { @include darken-background($color-country-box-background); }

      .city-entry-name { width: 40%; }
      .city-entry-venue { width: 40%; }
      .city-entry-start-date { width: 20%; }
    }
  }
}

.col-details {
  @include col($col-details-width-full);

  margin-right: 0;

  .details {
    background-color: $color-details-box-background;
    display: none;

    .details-title { @extend %cell-heading; }
    .details-entry { @extend %cell-entry; }
  }
}