#map-wrapper {
  #map {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }

  #map-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
  }
}