$color-almond: #EDD6C2;
$color-aths-special: #E8E5C3;
$color-surf-crest: #D1E4D4;
$color-spindle: #C5DDF0;
$color-perfume: #ECCDFB;

$color-directory-main-box-background: $color-perfume;
$color-directory-other-box-background: #000000;
$color-map-main-box-background: $color-perfume;
$color-map-other-box-background: #000000;
$color-search-box-background: $color-surf-crest;
$color-latest-box-background: $color-aths-special;
$color-country-box-background: $color-almond;
$color-details-box-background: $color-spindle;

$col-menu-width-full: 160px;
$col-latest-width-full: 280px;
$col-country-width-full: 400px;
$col-details-width-full: 0;

$box-margin: 10px;

$font-family-text: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;

html, body {
  font-family: $font-family-text;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  padding: 10px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

a, a:link, a:hover, a:visited {
  color: #000000;
  text-decoration: none;
}

%col-format {
  margin-right: $box-margin;
  display: inline-block;
  vertical-align: top;
}

@mixin col($width) {
  @extend %col-format;
  width: $width;
}

%cell-heading-format {
  padding: 8px 5px;
  text-transform: uppercase;
}

@mixin cell-heading($background-color) {
  @extend %cell-heading-format;
  background-color: $background-color;
}

@mixin cell-entry($background-color) {
  padding: 5px;
  background-color: $background-color;
}

.col-menu {
  @include col($col-menu-width-full);

  .directory-main {
    margin-bottom: $box-margin;
    .directory-title { @include cell-heading($color-directory-main-box-background) }
  }

  .search {
    @include cell-heading($color-search-box-background);
    margin-bottom: $box-margin;
  }

  .map-other {
    @include cell-heading($color-map-other-box-background);
    color: #ffffff;
  }
}

.col-latest {
  @include col($col-latest-width-full);

  .latest { @include cell-heading($color-latest-box-background) }
}

.col-country {
  @include col($col-country-width-full);

  .country { @include cell-heading($color-country-box-background) }
}

.col-details {
  @include col($col-details-width-full);
  margin-right: 0;
}