$font-family-text: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;

html, body {
  font-family: $font-family-text;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  padding: 10px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}